<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.pzrmyy.mapper.PatientMapper" >

	<resultMap type="com.yyg.pzrmyy.entity.Patient" id="patientMap" autoMapping="true">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="reg_no" property="regNo" jdbcType="VARCHAR" />
		<result column="card_no" property="cardNo" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="VARCHAR" />		
		<result column="user_age" property="userAge" jdbcType="INTEGER" />
		<result column="user_dob" property="userBirthday" jdbcType="DATE" />
		<result column="creat_card_date" property="createTime" jdbcType="DATE" />
	</resultMap>

	<select id="getPatientByCardNo" resultMap="patientMap">
		SELECT * FROM user_creat_card_info WHERE card_no = #{cardNo,jdbcType=VARCHAR} LIMIT 1;
	</select>
	

</mapper>