# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
kph_pzrmyy/.settings/org.eclipse.jdt.core.prefs
*.MF
kph_pzrmyy/target/classes/META-INF/maven/com.yyg/pzrmyy/pom.properties
kph_pzrmyy/target/classes/META-INF/MANIFEST.MF
kph_pzrmyy/.settings/org.eclipse.jdt.core.prefs
kph_client_jxfy/.idea/.name
kph_client_jxfy/.idea/encodings.xml
kph_client_jxfy/.idea/epclient.iml
kph_client_jxfy/.idea/inspectionProfiles/profiles_settings.xml
kph_client_jxfy/.idea/inspectionProfiles/Project_Default.xml
kph_client_jxfy/.idea/misc.xml
kph_client_jxfy/.idea/modules.xml
kph_client_jxfy/.idea/vcs.xml
kph_client_jxfy/.idea/watcherTasks.xml
kph_client_jxfy/.idea/workspace.xml
