<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.BillMapper" >
	<resultMap id="statisticDto" type="com.yyg.eprescription.dto.BillStatisticDTO" autoMapping="true">		
  	</resultMap>

	<resultMap type="com.yyg.eprescription.entity.Bill" id="billMap" autoMapping="true">
		<id column="id" property="id"></id>
	</resultMap>
	
	<resultMap type="com.yyg.eprescription.dto.BillDTO" id="billDto" autoMapping="true">
		<id column="id" property="id"></id>
	</resultMap>
	
	<select id="queryBill" resultMap="billMap">
	    select * from t_bill 
	    <where>
		   <if test="query.orderno != null and query.orderno !=''">
		        t_bill.orderno = #{query.orderno} 
		   </if>
		   <if test="query.payid != null and query.payid !=''">
		       AND  t_bill.payid = #{query.payid} 
		   </if>
		   <if test="query.payway != null">
		       AND t_bill.payway = #{query.payway} 
		   </if>
		   <if test="query.startTime != null and query.endTime != null">
		       AND t_bill.createtime BETWEEN #{query.startTime} AND #{query.endTime} 
		   </if>
		</where>
		order by t_bill.id ASC;
	</select>
	
	<select id="queryBillWithTotal" resultMap="billMap, com.yyg.eprescription.mapper.CommonMapper.totalResult">
	    select SQL_CALC_FOUND_ROWS * from t_bill 
	    <where>
		   <if test="query.orderno != null and query.orderno !=''">
		        t_bill.orderno = #{query.orderno} 
		   </if>
		   <if test="query.payid != null and query.payid !=''">
		       AND  t_bill.payid = #{query.payid} 
		   </if>
		   <if test="query.payway != null">
		       AND t_bill.payway = #{query.payway} 
		   </if>
		   <if test="query.startTime != null and query.endTime != null">
		       AND t_bill.createtime BETWEEN #{query.startTime} AND #{query.endTime} 
		   </if>
		</where>
		order by t_bill.id DESC 
		limit ${(query.current-1) * query.pageSize}, ${query.pageSize};
		SELECT FOUND_ROWS() as total;
	</select>

	<select id="statistic" resultMap="statisticDto">
		select type, sum(amount) as totalAmount FROM t_bill where createtime between #{query.startTime} and #{query.endTime} 
		<if test="query.payway !=null">
			AND payway = #{query.payway}
		</if>
		<if test="query.payid != null and query.payid !=''">
			AND payid = #{query.payid}
		</if>
		GROUP BY type
	</select>
	
	<select id="jxfyQueryBill" resultMap="billDto">
		SELECT t_bill.*, t_prescription.patient_reg_no AS regNo, t_prescription.patientname FROM t_bill LEFT JOIN t_order ON t_bill.orderno = t_order.orderno LEFT JOIN t_prescription ON t_order.prescriptionid = t_prescription.id
		<where>
			<if test="query.payway != null">
				t_bill.payway in
				  <foreach item="item" index="index" collection="query.payway"
				      open="(" separator="," close=")">
				        #{item}
				  </foreach>		
			</if>
			<if test="query.type != null">
				AND t_bill.type = #{query.type}
			</if>
			<if test="query.startTime != null and query.endTime != null">
				AND t_bill.createtime BETWEEN #{query.startTime} AND #{query.endTime}
			</if>
		</where>
		<if test="query.current != null and query.pageSize != null">
			order by t_bill.id ASC 
			limit ${(query.current-1) * query.pageSize}, ${query.pageSize};
		</if>
	</select>

</mapper>