<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.DrugMapper" >
		
	<resultMap id="ShortDrugInfo" type="com.yyg.eprescription.vo.ShortDrugInfo" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="showname" property="showname" jdbcType="VARCHAR" />
  	</resultMap>
  	
  	<resultMap type="com.yyg.eprescription.entity.Drug" id="drugMap">
  		<id column="id" property="id" />
  	</resultMap>

	<select id="selectDrugForUpdate" resultMap="drugMap">
		SELECT * FROM t_drug WHERE id = #{drugid} FOR UPDATE;	
	</select>
	

	<select id="getDrugsByKeys" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and category not like '中药' and (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>
	
	<select id="getZyDrugsByKeys" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and category like '中药' and (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>

	<select id="getDrugsByKeysWithoutID" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and category not like '中药' and id != #{myid,jdbcType=INTEGER} AND (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>
	
	<select id="getZyDrugsByKeysWithoutID" resultMap="ShortDrugInfo">
		SELECT id ,CONCAT(drugname,'--',standard,'--',company) as showname FROM t_drug WHERE state = 1 and category like '中药' and  id != #{myid,jdbcType=INTEGER} AND (drugname LIKE #{mykeys,jdbcType=VARCHAR} OR fullkeys LIKE #{mykeys,jdbcType=VARCHAR} OR shortnamekeys LIKE #{mykeys,jdbcType=VARCHAR}); 	
	</select>

	<select id="getDrugBySubCategory" resultMap="ShortDrugInfo">
		select id ,CONCAT(drugname,'--',standard,'--',company) as showname from t_drug where state = 1 and subcategory like #{category, jdbcType=VARCHAR} and category not like '中药';
	</select>
	
	<select id="getZyDrugBySubCategory" resultMap="ShortDrugInfo">
		select id ,CONCAT(drugname,'--',standard,'--',company) as showname from t_drug where state = 1 and subcategory like #{category, jdbcType=VARCHAR} and category like '中药';
	</select>
	
	<select id="queryDrugWithTotal" resultMap="drugMap, com.yyg.eprescription.mapper.CommonMapper.totalResult">
		select * from t_drug
		<where>
			<if test="query.keys != null and query.keys !=''">
				t_drug.drugname like #{query.keys} Or t_drug.fullkeys like #{query.keys} Or t_drug.shortnamekeys like #{query.keys}
			</if>
			<if test="query.drugno != null and query.drugno != ''">
				AND t_drug.drugno = #{query.drugno}
			</if>
			<if test="query.state != null">
				AND t_drug.state = #{query.state}
			</if>
		</where>
		order by t_drug.id DESC 
		limit ${(query.current-1) * query.pageSize}, ${query.pageSize};
		SELECT FOUND_ROWS() as total;
	</select>
</mapper>