<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.OrderMapper" >
	
	<resultMap type="com.yyg.eprescription.entity.Order" id="myorder" autoMapping="true">
		<id column="id" property="id"></id>
		<result column="reg_no" property="regNo"/>
		<result column="trade_info" property="tradeInfo"/>
	</resultMap>
		
	<resultMap type="com.yyg.eprescription.vo.IOrderVo" id="pOrder" autoMapping="true">
		<id column="id" property="id"></id>
		<result column="reg_no" property="regNo"/>
		<result column="trade_info" property="tradeInfo"/>
		<result column="prescriptionno" property="prescriptionno"/>
	</resultMap>

	<select id="selectOrderForUpdate" resultMap="myorder">
		SELECT * FROM t_order where orderno = #{orderno,jdbcType=VARCHAR} FOR UPDATE
	</select>
	
	<select id="getOrderByNo"  resultMap="pOrder">
		SELECT t_order.*, t_prescription.doctorname, t_prescription.department, t_prescription.patientname
		FROM `t_order` LEFT JOIN t_prescription ON t_order.prescriptionid = t_prescription.id WHERE t_order.orderno = #{orderno} LIMIT 1;
	</select>
	
	<select id="queryPatientUnpayOrder" resultMap="pOrder">
		SELECT t_order.*, t_prescription.doctorname, t_prescription.department, t_prescription.patientname
		FROM `t_order` LEFT JOIN t_prescription ON t_order.prescriptionid = t_prescription.id WHERE t_order.reg_no = #{regNo,jdbcType=VARCHAR} AND t_order.state = 1 AND t_order.invalidtime > #{now}
	</select>
	
	<select id="queryOrderWithTotal" resultMap="pOrder, com.yyg.eprescription.mapper.CommonMapper.totalResult">
		SELECT t_order.*, t_prescription.prescriptionno, t_prescription.doctorname, t_prescription.department, t_prescription.patientname
		FROM `t_order` LEFT JOIN t_prescription ON t_order.prescriptionid = t_prescription.id 
		<where>
		   <if test="query.regNo != null and query.regNo !=''">
		        t_order.reg_no = #{query.regNo} 
		   </if>
		   <if test="query.orderno != null and query.orderno !=''">
		       AND  t_order.orderno = #{query.orderno} 
		   </if>
		   <if test="query.prescriptionno != null and query.prescriptionno !=''">
		       AND  t_prescription.prescriptionno = #{query.prescriptionno} 
		   </if>
		   <if test="query.patientname != null and query.patientname !=''">
		       AND  t_prescription.patientname = #{query.patientname} 
		   </if>
		   <if test="query.doctorname != null and query.doctorname !=''">
		       AND  t_prescription.doctorname = #{query.doctorname} 
		   </if>
		   <if test="query.payway != null">
		       AND t_order.payway = #{query.payway} 
		   </if>
		   <if test="query.state != null">
		       AND t_order.state = #{query.state} 
		   </if>
		   <if test="query.startTime != null and query.endTime != null">
		       AND t_order.createTime BETWEEN #{query.startTime} AND #{query.endTime} 
		   </if>
		</where>
		order by t_order.id DESC 
		limit ${(query.current-1) * query.pageSize}, ${query.pageSize};
		SELECT FOUND_ROWS() as total;
	</select>
	
</mapper>