<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.OrderMapper" >
		

	<select id="selectOrderForUpdate" resultType="Order">
		SELECT * FROM t_order where orderno = #{orderno,jdbcType=VARCHAR} FOR UPDATE
	</select>
	
	<select id="queryUnpayOrders" resultType="Order">
		SELECT * FROM t_order where reg_no = #{regNo,jdbcType=VARCHAR} and state = 1 
	</select>
	
</mapper>