<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.PrescriptionMapper" >

	<resultMap type="com.yyg.eprescription.entity.Prescription" id="prescriptionMap">
		<id column="id" property="id"/>
		<result column="patient_card_no" property="cardNo"/>
		<result column="patient_reg_no" property="regNo"/>
		<result column="patient_birthday" property="patientBirthday"/>
	</resultMap>

	<select id="queryPrescriptionWithTotal" resultMap="prescriptionMap, com.yyg.eprescription.mapper.CommonMapper.totalResult">
		select * from t_prescription
		<where>
			<if test="query.prescriptionno !=null and query.prescriptionno !=''">
				t_prescription.prescriptionno = #{query.prescriptionno}
			</if>
			<if test="query.regNo != null and query.regNo !=''">
				AND t_prescription.patient_reg_no = #{query.regNo}
			</if>
			<if test="query.doctorname != null and query.doctorname !=''">
				AND t_prescription.doctorname = #{query.doctorname}
			</if>
			<if test="query.department != null and query.department !=''">
				AND t_prescription.department = #{query.department}
			</if>
			<if test="query.patientname != null and query.patientname !=''">
				AND t_prescription.patientname = #{query.patientname}
			</if>
			<if test="query.startdate != null and query.enddate != null">
				AND t_prescription.createdate BETEEWN #{query.startdate} AND #{query.enddate}
			</if>
		</where>
		order by t_prescription.id DESC 
		limit ${(query.current-1)*query.pageSize}, ${query.pageSize};
		SELECT FOUND_ROWS() as total;
	</select>


</mapper>