<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyg.eprescription.mapper.SalesRecordMapper">

	<resultMap id="record"  type="com.yyg.eprescription.vo.SalesRecordVo" autoMapping="true">
	</resultMap>
	
	<resultMap type="com.yyg.eprescription.vo.SalesRecordStatisticVo" id="statisticMap" autoMapping="true">
	</resultMap>
	
	<select id="querySalesRecordWithTotal" resultMap="record, com.yyg.eprescription.mapper.CommonMapper.totalResult">
		SELECT t_sales_record.*, t_prescription.prescriptionno, t_prescription.patient_reg_no as regNo, t_prescription.doctorname, t_prescription.department, t_order.orderno FROM t_sales_record LEFT JOIN t_prescription ON t_sales_record.prescriptionid = t_prescription.id LEFT JOIN t_order ON t_sales_record.orderid = t_order.id
		<where>
			<if test="query.startTime !=null and query.endTime != null">
				t_sales_record.createtime between #{query.startTime} and #{query.endTime}
			</if>
			<if test="query.regNo != null and query.regNo !=''">
				AND t_prescription.patient_reg_no = #{query.regNo}
			</if>
			<if test="query.prescriptionno != null and query.prescriptionno !=''">
				AND t_prescription.prescriptionno = #{query.prescriptionno}
			</if>
			<if test="query.drugname != null and query.drugname !=''">
				AND t_sales_record.drugname = #{query.drugname}
			</if>
			<if test="query.drugcompany != null and query.drugcompany !=''">
				AND t_sales_record.drugcompany = #{query.drugcompany}
			</if>
			<if test="query.department != null and query.department !=''">
				AND t_prescription.department = #{query.department}
			</if>
			<if test="query.doctorname != null and query.doctorname !=''">
				AND t_prescription.doctorname = #{query.doctorname}
			</if>
		</where>
		order by t_sales_record.id DESC 
		limit ${(query.current-1)*query.pageSize}, ${query.pageSize};
		SELECT FOUND_ROWS() as total;
	</select>
	
	<select id="statistic" resultMap="statisticMap, com.yyg.eprescription.mapper.CommonMapper.totalResult">
		SELECT SUM(t_sales_record.num-t_sales_record.refundnum) as totalSale, SUM((t_sales_record.num-t_sales_record.refundnum)*t_sales_record.price) as totalPrice, t_prescription.doctorname, t_prescription.department, t_sales_record.drugname, t_sales_record.standard, t_sales_record.drugcompany FROM t_sales_record LEFT JOIN t_prescription ON t_sales_record.prescriptionid = t_prescription.id
		<where>
			<if test="query.startTime !=null and query.endTime != null">
				t_sales_record.createtime between #{query.startTime} and #{query.endTime}
			</if>
			<if test="query.department != null and query.department !=''">
				AND t_prescription.department = #{query.department}
			</if>
			<if test="query.doctorname != null and query.doctorname !=''">
				AND t_prescription.doctorname = #{query.doctorname}
			</if>
			<if test="query.drugcompany != null and query.drugcompany !=''">
				AND t_sales_record.drugcompany = #{query.drugcompany}
			</if>
			<if test="query.drugname != null and query.drugname !=''">
				AND t_sales_record.drugname = #{query.drugname}
			</if>
		</where>
		GROUP BY t_prescription.doctorname, t_prescription.department, t_sales_record.drugname, t_sales_record.standard, t_sales_record.drugcompany 
		<choose>
		<when test="query.statisticOrderType == 1">
			order by totalPrice DESC, totalSale DESC 
		</when>
		<when test="query.statisticOrderType == 2">
			order by t_prescription.department DESC, t_prescription.doctorname DESC 
		</when>
		<otherwise>
			order by t_sales_record.drugcompany DESC, t_sales_record.drugname DESC 
		</otherwise>
		</choose>
		limit ${(query.current-1)*query.pageSize}, ${query.pageSize};
		SELECT FOUND_ROWS() as total;
	</select>

</mapper>